mat-toolbar{
    background: #9da6a9;
    color: black;
    font-size: 1rem;
  
  }
  
  
  mat-sidenav{
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #ced7db;
    color: black;
    border-radius: 10px;
    padding: 16px;
  }
  
  ::ng-deep .mat-tab-label
  {
    height: 50px !important;
    min-height: 5px!important;
    margin: 3px!important;
    width: 90px!important;
    min-width: 5px!important;
  }
  
  
  .mat-tab-label-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
    overflow-x: scroll !important;
  }
  
  .content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content:  center;
    align-items: center;
    font-size: 2rem;
    color: black;
    background: white;
    border-radius: 10px;
  }
  
  .divider-main {
    background-color: grey;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: large;
    display: flex;
    justify-content: center;
  }
  
  .card {
    background-color:#eeeeee ;
    padding: 40px;
    padding-left: var(--padding-css);
    padding-right: var(--padding-css);
    height: 78vh;
    overflow: auto;
  }
  
  mat-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .span-toolbar{
    flex: 1 1 auto;
  }
  .example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  
    mat-icon {
      margin-right: 8px;
    }
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  mat-card {
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
  
  }
  .balance{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
  
  
  .balance-toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .balance-month {
    color: black;
    padding-top: 10px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-content {
    margin-top: 20px;
  }
  
  .avatar-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .avatar {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  
  .operations-credit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: green;
  }
  
  .operations-debit{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: red;
  }
  
  .name {
    margin-top: 20px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .balance{
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    // background-color: rgba(255, 255, 255, 0.5);
    background-color: gray;
  }
  